body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
   /*header sectaion*/
.main-manu{
    
}
.my-header{
    background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
	position: fixed;
    left: 0;
    top: 0;
   
	z-index: 9;
    width: 100%;
    height: auto;
}
.my-header .navbar-brand{
    font-size: 30px;
    font-weight:450;
}
.my-header .logo-span{
    font-size: 30px;
    text-align: center;
    display:inline-block;
    height: 48px;
    width: 45px;
    background-color: rgb(66, 92, 207);
    border-radius: 10px;
    color: cornsilk;
}
.my-batone{
    font-size: 16px;
    width: 120px;
}
ul li{
    padding: 0px 15px;
    font-size: 17px;
}

.slider-main{
    background: url(https://mobirise.com/extensions/appamp/assets/images/mbr-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    position: relative;
    z-index: 1;
    margin-top: 90px;
}
.slider-main::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.text-slider{
    position: relative;
    top: 120px;
}
.text-slider h4{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 45px;
}
.text-slider h2{
    font-size: 45px;
    font-weight: 700;
}
.our-style1{
     padding: 18px 18px;
} 
.our-style1:focus{
    box-shadow: 3px 3px 15px 0 rgb(98, 74, 207);
}
.our-style2{
    padding: 16px 18px;
}
.our-style2:hover{
    background-color: #fff;
    color: rgb(66, 92, 207);
    box-shadow: 3px 3px 15px 0 rgb(98, 74, 207);
}



.our-detilcs{
    background-color: rgba(247, 247, 247, 0.993);
}
.p-our{
    line-height: 2.2rem;
    letter-spacing: 1.3px;  
}


.lorm1{
    letter-spacing: .2rem;
    font-family: 200;
    margin-bottom: 30px;
}
.lorm2{
    letter-spacing: .2rem;
    font-size: 20px;
    font-weight: 200;
}

   /*About us*/

.our-style3{
    background-color: rgba(238, 238, 238, 0.801);
}   
.main-text{}
.main-text h1{
    margin-bottom: 30px;
    font-family: 200;
    letter-spacing: .2rem;
}
.main-text h3{}


.about-us{
    height: 350px;
    margin-bottom: 40px;
    padding: 0px 0px;
    transition: .4s;
    background-color: rgba(255, 251, 251, 0.952);
    border-radius: 5px;
}
.about-us:hover{
    box-shadow: 2px 2px 10px 0 rgb(41, 39, 46);
}

.about-us-photo{
    width: 40%;
    overflow: hidden;
    height: 100%;
    border-radius: 5px 0 0 5px;
}
.about-us-photo img{
    height: 100%;
    width: 261px;
    max-width: inherit;
    position: relative;
    left: -72px;
}
.about-us-text{
    width: 60%;
    height: auto;
    padding: 27px;
}
.about-us-text h4{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;
}
.about-us-text h6{
    font-size: 17px;
    font-weight: 200;
}

.poduct a{
    position: relative;
    display: block;
    
}
.poduct a::after{
    content: "";
    background-color: rgb(182, 60, 60);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 82, 189, 0.7);
    transition: .3s;
    visibility: hidden;
    opacity: 0;
}
.poduct:hover a::after{
    visibility: visible;
    opacity: 1;
}

ul{}
ul li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 20px;
}
ul li span{
    color: cornflowerblue;
    margin-right: 10px;
    font-size:35px;
}

.our-battones{
    text-decoration: none;
}
.box{
    box-shadow: 2px 2px 10px 0 rgb(41, 39, 46 ,0.4);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    padding:;
}

.bottonee a{
    box-shadow: 2px 2px 10px 0 rgb(41, 39, 46 ,0.2);
    padding: 15px 35px; 
    font-size: 22px;
    font-weight: 600;
    transition: .3s;
}
.box:hover .bottonee a{
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
}


.user-icon{
    margin-bottom: 50px;
    font-size: 70px;
    color: rgb(233, 234, 240);
}
.our-pv{
    font-size: 20px;
    
}


.all-user{
    width: 250px;
    height: auto;
}
.user-text{
    
}
.all-user img{
    width: 70px;

}

.midil-pi{
    font-size: 22px;
}

.card img{
    margin-top: -55px;
    margin-left: 15px;
    width: 85px;
}
.user-web{
    
    background-color:rgb(233, 237, 240);
}
.our-ceard{
    height: 360px;
}

.contct-batoon a{
    padding: 18px 50px;
    background-color: rgb(77, 116, 223);
    font-size: 25px;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    transition: .4s;
    border-radius: 7px;
}
.contct-batoon a:hover{
    background-color: #fff;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    box-shadow: 3px 3px 15px 0 rgb(124, 102, 223);
}
.contct-h33 h3{
   
}
.store-batton{
    font-size: 25px;
    border-radius: 10px;
}
.next-st{
    background-color:rgb(30, 167, 76) ;
    font-weight: 500;
    transition: .4s;
    margin-left: 20px;
}
.next-st:hover{
    background-color: black;
}

.foter{
    background-color:rgb(233, 237, 240) ;
}